<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>700044440169-00s5oi3arl17rss5va89gr4stsfgl4ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700044440169-00s5oi3arl17rss5va89gr4stsfgl4ed</string>
	<key>API_KEY</key>
	<string>AIzaSyB2Y52fYhLo5SIP8lvAOiDrHRbTZHlWRxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>700044440169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.georgetang.nyanchat</string>
	<key>PROJECT_ID</key>
	<string>nyanchat-1abe2</string>
	<key>STORAGE_BUCKET</key>
	<string>nyanchat-1abe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700044440169:ios:e9f0295fdc24be1c</string>
	<key>DATABASE_URL</key>
	<string>https://nyanchat-1abe2.firebaseio.com</string>
</dict>
</plist>